{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/passwordup.css' %}" />
{% endblock %}
{% block content %}
{% include "header.html" %}
<div class="brackbord">
  <div class="content">
    <img class="username" src="{% static 'img/password.png' %}">
          <h2 id="now_password">現在のパスワード</h2>
          <h2 id="new_password">新しいパスワード</h2>
          <h2 id="re_new_password">新しいパスワード<br>（再入力）</h2>
          <form action="{% url 'passwordup' %}" method="post">
            {% csrf_token %}
            <div>
              <dl>
                <div>
                  <dt>{{ form.current_password }}{{ form.current_password.errors }}</dt>
                </div>
                <div>
                  <dt>{{ form.new_password }}{{ form.new_password.errors }}</dt>
                </div>
                <div>
                  <dt>{{ form.confirm_new_password }}{{ form.confirm_new_password.errors }}</dt>
                </div>
                <div id="password">
                  <button type="submit">変更</button>
                </div>
              </dl>
            </div>
          </form>
  </div>
</div>
<img id="footer" src="{% static 'img/chalk_rail.png' %}">
{% endblock %}